:root {
  --star-size: 18px;
  --star-color: rgb(105, 105, 105);
  --star-background: #fc0;
}

// variables Body
$body-bg: #fff;
$body-color: #444444;
$body-font: 14px;
$font-family-regular: "Open Sans-Regular";
$font-family-bold: "Open Sans-Bold";
$font-family-before: "Oswald", sans-serif;

// variables Body
$font-color: #444444;
$select-bg: #fff;
