.section-featured {
  margin-top: 50px;
  height: 100%;

  // -----
  .section-featured__content {
    width: 100%;

    .section-featured__content__pane {
      height: auto;
      visibility: visible;
      opacity: 1;
      overflow: visible;
      display: block;
      max-width: 100%;

      .section-featured__content__pane__slider {
        margin-left: -27px;
        margin-right: -73px;

        &.product__slider {
          overflow: hidden;
        }

        .section-featured__content__pane__product__slider {
          position: relative;
          display: block;
          box-sizing: border-box;
          user-select: none;
          touch-action: pan-y;
          padding-left: 4px;
          padding-right: 0;

          .slick_prev {
            left: 5px;
          }
          .slick_next {
            right: 5px;
          }
          .slick_arrow {
            @include but__arrow;

            &:hover {
              background-color: #000;
            }

            i {
              font-size: 36px;
              line-height: 42px;
              display: block;

              &:hover {
                color: #fff;
              }
            }
          }

          .section-featured__content__slick__list {
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
            &.slick--slick {
              transform: translate3d(0, 0, 0);
            }
            /* ------------
            slick__slide
            --------------*/
          }

          //
          &:hover {
            .slick_arrow {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}
