.mini-cart-wrap {
  background-color: #fefcef;
  width: 320px;
  position: fixed;
  top: 0;
  right: 320px;
  z-index: 9999;
  height: 100%;
  box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
  transition: all 0.3s ease 0s;

  &.open {
    right: 0;
  }

  .mini-cart__close {
    padding: 10px 25px;
    border-bottom: 1px solid #e2e2e2;

    .close-cart {
      background: transparent;
      border: none;
      color: #444444;
      line-height: 24px;
      font-size: 12px;
      text-transform: capitalize;
      font-weight: 500;
      cursor: pointer;

      svg {
        vertical-align: sub;
      }

    }
  }

  .mini-cart__products {
    padding: 30px 25px;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 45px);

    li {
      float: left;
      width: 100%;
      margin-bottom: 25px;

      .image {
        width: 90px;
        float: left;
        margin-right: 20px;

        img {
          width: 100%;
          background: #f6f7f8;
        }
      }
      .content{
        width: 120px;
        float: left;
      }
    }
  }

}

.cart-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}