body {
  background: $body-bg;
  color: $body-color;
  font-size: $body-font;
  line-height: 24px;
  visibility: visible;
  font-family: $font-family;
  position: relative;
  @include zero;
}

::selection {
  background: #fcf805;
  color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  @include zero;
}

a {
  text-decoration: none;
}
