*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background: $body-bg;
  color: $body-color;
  font-size: $body-font;
  line-height: 24px;
  visibility: visible;
  font-family: $font-family-regular;
  position: relative;
  @include zero;
}

::selection {
  background: #fcf805;
  color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  @include zero;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease 0s;
}

button {
  outline: none;
  transition: all 0.3s ease 0s;
}
