/* Font-Family OpenSans */
@font-face {
  font-family: "Open Sans";
  src: url("../assets/font/OpenSans/OpenSans-Light.eot");
  src: url("../assets/font/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../assets/font/OpenSans/OpenSans-Light.woff2") format("woff2"),
    url("../assets/font/OpenSans/OpenSans-Light.woff") format("woff"),
    url("../assets/font/OpenSans/OpenSans-Light.ttf") format("truetype"),
    url("../assets/font/OpenSans/OpenSans-Light.svg#svgFontName") format("svg");
}
