.d-contents {
  display: contents;
}

.mb-30 {
  margin-bottom: 30px;
}
.text-end {
  text-align: end;
}

.section__title {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;

  &::before {
    content: attr(data-title);
    font-size: 52px;
    font-family: $font-family-before;
    color: #ccc;
    line-height: 46px;
    font-weight: 700;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    padding-left: 25px;
    padding-right: 2px;
    background-color: #ffffff;
    text-transform: uppercase;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    z-index: -1;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
    background-color: #fff;
    color: #000;
    padding: 10px 25px;
    margin: 0;
    margin-left: 40px;
    position: relative;
    z-index: 3;
    float: left;
  }
}

.slick__slide {
  @include slick__slide;

  .product {
    @include slick__product;
    //
    .image {
      position: relative;
      .sale {
        color: #202020;
      }
      .new {
        color: rgb(190, 30, 30);
      }
      .label {
        @include slick__label;
      }
      //
      .img {
        @include slick__img;
      }
      .compare {
        @include slick__compare_a_svg_added;
      }
      //

      .add-to-cart {
        @include slick__add-to-cart;
      }
    }
    //
    .content {
      background-color: #ffffff;
      overflow: hidden;

      .category__title {
        @include slick__category__title;
      }
      .price__ratting {
        @include slick__price__ratting;
      }
      .ratting {
        position: absolute;
        bottom: 35px;
        right: 24px;

        .stars {
          --percent: calc(var(--rating) / 5 * 100%);

          display: inline-block;
          font-size: var(--star-size);
          font-family: Times;
          line-height: 1;

          &::before {
            content: "★★★★★";
            letter-spacing: 1px;
            background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
    &:hover {
      .image {
        .compare {
          a {
            opacity: 1;
            visibility: visible;
          }
        }
        .add-to-cart {
          opacity: 1;
          visibility: visible;
          bottom: 20px;
        }
      }
    }
  }
}

.banner {
  a {
    display: block;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }
    &::after {
      left: 180%;
      @include hero__bonner_a_b;
    }
    &::before {
      left: -85%;
      @include hero__bonner_a_b;
    }
    &:hover {
      &::after {
        left: -280px;
        @include hero__bonner_a_b_hov;
      }
      &::before {
        left: 180%;
        @include hero__bonner_a_b_hov;
      }
    }
  }
}

.product__filter {
  position: relative;
  float: right;

  .product__filter__toggle {
    display: none;
    border: 1px solid #e8e8e8;
    line-height: 24px;
    padding: 5px 15px;
    font-size: 12px;
    text-transform: uppercase;
    color: #202020;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3 ease 0s;

    span {
      display: inline-block;
      margin: 0 10px;
      transition: all 0.3s ease 0s;
    }
    i {
      font-size: 16px;
      float: right;
      line-height: 24px;
    }
  }
  .product__filter__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;

    li {
      display: block;
      float: left;
      margin-right: 35px;

      div {
        font-size: 14px;
        color: #777777;
        font-weight: 600;
        line-height: 20px;
        display: block;
        text-transform: uppercase;
        cursor: pointer;

        &.active {
          color: #202020;
        }
      }
    }
  }
}
